header {
  background: url(../img/mainimg.png) no-repeat;
  background-size: 100%;
  height: 149vh;
}

@media (min-width: 768px) {
  .container-fluid {padding-top: 25px;}
  .form-group {
    background-color: rgb(0 0 0 / 65%);
    padding: 0px 30px;
    padding-bottom: 30px;
  }

  .form-group {
    padding: 0px 100px;
    width: 32em;
  }
  
  .form-group .form-control {margin-top: 30px;}
  .btn {
    margin: 20px 0px;
    background-color: #0aa321;
    border-color: #0aa321;
  }
  
  .form-group h1 {
    text-align: center;
    margin: 0px;
    color: white;
    margin-top: 10px;
    font-size: 27px;
  }
  
  .form-group h3 {
    text-align: center;
    margin: 0px;
    color: white;
    font-size: 23px;
  }
  
  .form-group input {
    background-color: rgb(0 0 0 / 65%);
    border: 1px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    text-align: center;
  }
  
  .form-group input::placeholder {color: white;}
  
  .form-control:focus {
    color: white;
    background-color: rgb(0 0 0 / 65%);
    border-color: white;
    outline: none;
    box-shadow: none;
  }
}

@media (max-width: 767px) {
  .form-group h1 {
    text-align: center;
    margin: 0px;
    color: white;
    font-size: 15px;
  }
  
  .form-group h3 {
    text-align: center;
    margin: 0px;
    color: white;
    font-size: 11px;
  }
  
  .form-group input::placeholder {color: white;}
  
  .form-group input {
    display: inline-block !important;
    background-color: rgb(0 0 0 / 65%);
    border: 1px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    text-align: center;
    height: 20px;
    margin-top: 10px;
  }
  
  .container div:only-child {
    padding: 0px 50px;
  }
  
  .btn {
    height: 25px;
    padding: 0px;
    margin-top: 10px;
    background-color: #0aa321;
    border-color: #0aa321;
  }
}