@media (min-width: 1245px) {
  .form-group {
    float: right;
    margin-top: 35px;
    margin-right: 55px;
    width: 23rem;
  }

  .main-content-1 p {
    text-align: left;
  }

  .registr {
    display: none;
  }
}

@media (max-width: 1246px) {
  .form-group {
    float: right;
    margin-top: 20px;
  }

  .form-group input {
    margin-top: 10px !important;
  }

  .form-group .btn {
    margin-top: 25px;
  }

  .form-group h1 {
    font-size: 33px;
  }

  .form-group h3 {
    font-size: 27px !important;
  }

  .registr {
    display: none;
  }
}

@media (max-width: 717px) {
  .navbar-nav, li {
    display: inline-block;
  }

  .navbar-nav li:last-of-type a {
    padding-right: 8px !important;
  }

  .footstyle-2 p {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .main-content-1 p {
    text-align: left;
  }
}

@media (max-width: 992px) {
  header form {
    display: none;
  }

  .main-content-2 p {
    font-size: 15px !important;
  }

  .main-content-2 h1 {
    font-size: 35px !important;
    margin-bottom: 0px !important;
  }

  .registr {
    display: block;
    padding: 0px 50px;
  }

  .registr a {
    margin-top: 0px;
  }
}

.btn-primary {
  background-color: #0aa321;
  border-color: #0aa321;
}

.form-group {
  background-color: rgb(0 0 0 / 65%);
  padding: 0px 30px;
  padding-bottom: 30px;
}

.form-group .form-control, .btn {
  margin-top: 50px;
}

.form-group h1 {
  color: white;
  margin: 0px;
  margin-top: 40px;
  text-align: center;
}

.form-group h3 {
  color: white;
  font-size: 34px;
  margin: 0px;
  text-align: center;
}

.form-group input {
  background-color: rgb(0 0 0 / 65%);
  border: 1px solid white;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  text-align: center;
}

.form-group input::placeholder {
  color: white;
}

.form-control:focus {
  background-color: rgb(0 0 0 / 65%);
  border-color: white;
  box-shadow: none;
  color: white;
  outline: none;
}

footer {
  background-color: black;
  padding: 25px 0px;
}

.footstyle-1 ul {
  flex-direction: row !important;
  justify-content: end;
}

.footstyle-1 ul li {
  padding: 0px;
  padding-right: 4px !important;
}

.footstyle-1 ul li a {
  font-size: 12px;
}

.footstyle-2 .text-center {
  padding: 15px 0px;
}

.footstyle-2 p {
  color: white;
  font-size: 8px;
  text-align: end;
}

.footlogo {
  padding-bottom: 15px;
}

.footlogo img {
  height: 25px;
  margin-right: 15px;
}

header {
  background: url(../img/mainimg.png) no-repeat;
  background-size: 100%;
  height: 53vw;
}

.layerContent2 {
  background: url(../img/mainimg-1.png) no-repeat center;
  background-size: cover;
  height: 47em;
  padding-top: 20px;
}

.main-content-1 h1 {
  margin-bottom: 50px;
  text-align: center;
}

.main-content-1 {
  margin: 90px 0px;
}

.main-content-1 div:last-of-type a {
  color: #0aa321;
  text-decoration: none;
}

.main-content-2 h1 {
  color: white;
  font-size: 55px;
  margin-bottom: 200px;
  text-align: center;
}

.main-content-2 p {
  color: white;
  font-size: 30px;
}

main section:last-of-type {
  background-color: white;
  height: 40em;
  width: 100%;
}

.navbar {
  background-color: rgb(0 0 0 / 65%);
}

.navbar-nav li a {
  color: white !important;
}

.navbar-nav .active a {
  color: #0aa321 !important;
}

.navbar-nav li:last-of-type {
  display: inline-flex;
}

.navbar-nav li:last-of-type a img {
  height: 23px;
}

.navbar-nav li {
  padding-right: 20px;
}

.navbar-nav li:last-of-type a {
  padding-right: 20px;
}

.registr h1 {
  text-align: center;
}
.registr h3 {
  text-align: center;
}